* {
    background-color:aqua;
    font-family: hack;
    font-weight: bold;
    font-size: 24px;
}

.score {
    margin-bottom: 10px;
}

.container {
    text-align: center;
    margin-top: 200px;
    position: relative;
}

.container div {
    text-align: center;
}

span {
    padding: 10px;
    font-family: hack;
    font-size: 24px;
}

.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    margin: auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: black;
}

.apple {
    background-color: red;
}

button {
    font-family: hack;
    font-weight: bold;
    font-size: 12px;
    padding: 9px 25px;
    background-color:rgb(120, 125, 128);
    border: solid;
    border-color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 10px;      
}

button:hover{
  background-color: rgb(5, 156, 202);
}


